/* Variables */
:root {
    --color1: #f05f40;
    --color2: red;
    --color3: rgb(92, 91, 91);
    --color4: #F6F6F6;
}

@font-face {
    font-family: 'font1';
    src: url(./font/font1/Almarai-Regular.ttf);
}

@font-face {
    font-family: 'font2';
    src: url(./font/font2/Viga-Regular.ttf);
}

/* Généralités */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.section {
    font-family: 'font1';
    padding-bottom: 1%;
    background: var(--color4);
    padding-top: 95px;
}

.section-title {
    text-align: center;
    padding-top: 4%;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.box {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 5% auto;
}

.box-flex {
    margin: 0 5%;
    padding: 3% 0;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    background: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.24)
}

.inside-box {
    display: flex;
    justify-content: space-around;
}

.box-title {
    text-align: center;
    margin-bottom: 10%;
    font-size: 1.5rem;
}
/* header */
.test {
    height: 95px;
    margin-left: 150px;
}

.header-1 {
    font-family: 'font1';
    height: 95px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 2;
}

.nav-bar {
    height: 100%;
    box-shadow: 0px 0px 18px 2px black;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

.nav-items {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;

}

.nav-items:hover {
    color: var(--color1);
    transition: 0.35s;
    
}

/* Main */
/* compartment 1 */
.banner-container {
    height: 100vh;
    background: url(./image/banner.jpg) center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ID-container {
    background: white;
    padding: 80px 60px;
    text-align: center;
    box-shadow: 0px 0px 15px 8px black;
    margin-top: 5%;
}

.title-h1 {
    font-family: 'font2';
    font-size: 3rem;
    position: relative;
    padding-bottom: 30px;
}
.title-h1::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 50%;
    transform: rotate(90deg);
    background: var(--color1);
    border: 3px solid var(--color1);
    height: 100px;

}

.subtitle {
    font-family: 'font1';
    padding-top: 50px;
}

/* About */
.about-container {
    background: var(--color1);
    color: white;
}

.about-me-container {
    margin-top: 4%;
    padding-bottom: 4%;
    display: flex;
    justify-content: space-around;
}

.about-me-img {
    background: url(./image/img-me.jpg) center/cover;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    margin-left: 10%;
}

.about-me {
    font-size: 1.3rem;
    width: 45%;
    margin-right: 10%;
    padding-top: 3%;
    line-height: 2rem;
}

/* Skills */
.section-subtitle {
    text-align: center;
    margin-top: 1%;
    color: var(--color3);
}

.items {
    padding: 1% 5%;
    border-radius: 15px;
    background: var(--color1);
    color: white;
}

/* project */

.project-section {
    position: relative;
    background: white;
}

.grid {
    margin: 50px auto;
    width: 65%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.8s ease;
}

.slider img {
    margin-top: 8%;
    margin-right: 50px;
    max-width: 100%;
    cursor: pointer;
    transition: 0.4s ease;
}

.imgs:hover {
    transform: rotate(2deg);
}

#prev, #next {
    height: 30px;
    width: 40px;
    position: absolute;
    top: 70%;
    cursor: pointer;
}

#prev {
    left: 10%;
}

#next {
    right: 10%;
}

#next.disable, #prev.disable {
    pointer-events: none;
    opacity: 0.5;
}

/* Contact */
.section-contact {
    padding-top: 2%;
}

.contact h2 {
    margin-bottom: 10%;
}

.contact {

    position: relative;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.24);
}


.contact:hover .icon-container {
    background: var(--color1);
    color: white;
    transition: 0.4s;
}

.icon-container {
    background-color: white;
    border-radius: 50px;
    position: absolute;
    box-shadow: 0px -5px 9px -2px rgb(0 0 0 / 24%);
    left: 0; 
    right: 0; 
    top: -15%;
    height: 50px;
    width: 50px;
    z-index: 2;
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 1.5rem;
}

.info-contact {
    margin-top: 10px;
}
/* footer */ 
footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    font-family: 'font1';
}